[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Here is our customizations !!
[access "refs/*"]
	owner = group user/RakeshBatra (RakeshBatra)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RakeshBatra (RakeshBatra)
	label-Verified = -1..+1 group user/RakeshBatra (RakeshBatra)
	push = group user/RakeshBatra (RakeshBatra)
	read = group user/RakeshBatra (RakeshBatra)
	rebase = group user/RakeshBatra (RakeshBatra)
	removeReviewer = group user/RakeshBatra (RakeshBatra)
	submit = group user/RakeshBatra (RakeshBatra)
[access "refs/heads/*"]
	create = group user/RakeshBatra (RakeshBatra)
	push = +force group user/RakeshBatra (RakeshBatra)
	pushMerge = group user/RakeshBatra (RakeshBatra)
	read = group user/RakeshBatra (RakeshBatra)
[access "refs/tags/*"]
	push = group user/RakeshBatra (RakeshBatra)
	push = +force group user/RakeshBatra (RakeshBatra)
